<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">

    <script src="{{ url_for('static', filename='Scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/Blocks/workspace.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/Blocks/blocks.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/code.js') }}"></script>

</head>

<body>

           <table class="table" id="upmenu">
               <tr>
                   <td>
                       <ul class="nav nav-pills">
                           <li><button type="button" href="#home" data-toggle="tab" id="bHome"></button></li>
                           <li><button type="button" href="#tab2" data-toggle="tab" id="bGuide"></button></li>
                           <li><button type="button" href="#tab3" data-toggle="tab" id="bWhatLB"></button></li>
                           <li><button type="button" href="#tab4" data-toggle="tab" id="bWhatLBW"></button></li>
                           <li><button type="button" href="#tab5" data-toggle="tab" id="bDetails"></button></li>
                       </ul>
                   </td>
                   <td>
                       <div>
                           <select id="languageMenu"></select>
                       </div>
                   </td>
               </tr>
           </table>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <!-- Content for tab HOME -->
                    <h1 id="sup"></h1>
                    <p id="introParagraph"></p>

                    <ul class="nav nav-pills">
                        <li><button type="button" href="#tab-python" data-toggle="tab">Python</button></li>
                        <li><button type="button" href="#tab-blocktext" data-toggle="tab">Block-Text</button></li>
                        <li><button type="button" href="#tab-learnblock" data-toggle="tab">LearnBlock</button></li>
                        <li id="sepButtons"></li>
                        <li><button type="button" onclick="execute()" id="execute"></button></li>
                    </ul>

                    <div class="tab-content" style="margin-bottom:50px">
                        <div class="tab-pane" id="tab-python">
                            <textarea readonly id="resultpython"></textarea>
                        </div>
                        <div class="tab-pane" id="tab-blocktext">
                            <textarea readonly id="resultblocktext"></textarea>
                        </div>

                        <div class="tab-pane active" id="tab-learnblock">
                            <div id="learnblockDiv"></div>
                            <div id="toolbox" style="display: none">

                                <category name="%{BKY_CONTROL}" expanded="true">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'control' or block[1] == 'fcontrol' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_OPERATORS}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'operator' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_VALUES}">
                                    <block type="val_num1"></block>
                                    <block type="val_num2"></block>
                                    <block type="val_text1"></block>
                                    <block type="val_text2"></block>
                                </category>

                                <category name="%{BKY_VARIABLES}" custom="VARIABLE_DYNAMIC"></category>

                                <category name="%{BKY_FUNCTIONS}" custom="PROCEDURE"></category>

                                <category name="%{BKY_EMOTIONS}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'emotion' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_SPEAKER}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'speaker' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_BASE}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'base' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_MOTOR}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'motor' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_CAMERA}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'camera' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_DISTANCES}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'distances' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_GROUND}">
                                    {% for block in allBlocks %}
                                    {% if block[1] == 'ground' %}
                                    <block type="{{ block[0] }}"></block>
                                    {% endif %}
                                    {% endfor %}
                                </category>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="tab-pane fade" id="tab2">
                    <p>Cómo usar la página web</p>
                    <ul>
                        <li>De primeras no sabe qué es</li>
                        <li>Decir que se puede mover el workspace</li>
                        <li>Decir cómo se eliminan (no con supr) y duplican los bloques</li>
                        <li>Explicar que en las ventanas de Block-Text y Python sale el código correspondiente a los bloques, pero sólo cuando tiene una estructura correcta</li>
                        <li>Explicar cómo encajar los bloques según su forma</li>
                        <li>Explicar que los bloques son estructuras de código o funciones</li>
                        <li>Explicar manejo de variables</li>
                        <li>No sabe por qué falla cuando falla (relacionado con la generación de los códigos)</li>
                        <li>NECESITA UN MAIN</li>
                    </ul>
                </div>

                <div class="tab-pane fade" id="tab3">
                    <p>Qué es LearnBlock (proyecto original)</p>
                    <p>LearnBlock is an educational programming tool for learning programming. It has been designed to facilitate the learning process starting with a visual programming language and progressing towards a professional programming language.</p>

                    <p>LearnBlock is robot-agnostic, i.e. the same program can be executed in several robots. Clients for new robots can be easily created adding device interfaces and implementing hardware access methods for those interfaces.</p>

                    <p>Among other features, LearnBlock includes the following:</p>
                    <ul>
                        <li>Available for different physical robots (EBO, Cozmo, Thymio and EV3) and simulated ones (EBO under RCIS and EV3 under V-REP).</li>
                        <li>Robots can be programmed using different languages: visual language, Block-Text (textual representation of the visual language) and Python.</li>
                        <li>New blocks can be created from code (Python) using the tool itself or external tools.</li>
                        <li>A program can be run and stopped at any moment. When a program is interrupted the robot is properly stopped and disconnected.</li>
                    </ul>
                    <a href="https://github.com/robocomp/LearnBlock" target="_blank">LearnBlock Git Repository</a>
                </div>

                <div class="tab-pane fade" id="tab4">
                    <p>Qué es LearnBlockWeb (proyecto web a partir de LearnBlock)</p>

                    <a href="https://github.com/RebeGM19/LearnBlockWeb" target="_blank">LearnBlockWeb Git Repository</a>
                </div>

                <div class="tab-pane fade" id="tab5">
                    <p>Info sobre el desarrollo. Blockly, Bootstrap, Flask, Licencia CC, cositas interesantes.</p>
                </div>
                </div>





    <script>
        //Loads blocks from json definition
        loadBlocks({{control | tojson}}, {{language | tojson}});
        loadBlocks({{operators | tojson}}, null);
        loadBlocks({{values | tojson}}, null);
        loadBlocks({{variables | tojson}}, null);
        loadBlocks({{expressions | tojson}}, null);
        loadBlocks({{proprioceptive | tojson}}, null);
        loadBlocks({{motor | tojson}}, null);
        loadBlocks({{perceptual | tojson}}, null);

        //Creates tbe workspace
        var workspace = LearnBlock.inject('learnblockDiv', {
            toolbox: document.getElementById('toolbox'),
            horizontalLayout: false,
            scrollbars: true
        });

    </script>

    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
