<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">

    <script src="{{ url_for('static', filename='Scripts/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/Blocks/workspace.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/Blocks/blocks.js') }}"></script>
    <script src="{{ url_for('static', filename='Scripts/code.js') }}"></script>

</head>

<body>

    <table class="table" id="mainstructure">
        <tr>
            <td>
                <h1 id="sup"></h1>
                <p>{{ blocktext }}</p>
                <div class="row mb-5">
                    <button type="button" onclick="alert('Crear nuevo bloque')" class="lang" key="bCreateBlock" id="newblock"></button>
                    <select id="languageMenu"></select>
                </div>

            </td>
        </tr>



        <tr>
            <table class="table table-bordered" id="innertable">

                <tr>
                    <ul class="nav nav-tabs">
                        <li><button type="button" href="#python" data-toggle="tab">Python</button></li>
                        <li><button type="button" href="#blocktext" data-toggle="tab">Block-Text</button></li>
                        <li><button type="button" href="#learnblock" data-toggle="tab">LearnBlock</button></li>
                        <li id="sepButtons"></li>
                        <li><button type="button" onclick="execute()" id="execute"></button></li>
                    </ul>
                </tr>


                <tr>
                    <div class="tab-content" id="content_area">

                        <div class="tab-pane" id="python">
                            <textarea readonly id="resultpython"></textarea>
                        </div>

                        <div class="tab-pane" id="blocktext">
                           <textarea readonly id="resultblocktext"></textarea>
                        </div>

                        <div class="tab-pane active" id="learnblock">
                            <div id="learnblockDiv"></div>
                            <div id="toolbox" style="display: none">

                                <category name="%{BKY_CONTROL}" expanded="true">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'control' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_OPERATORS}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'operator' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_VALUES}">
                                    <block type="val_num1"></block>
                                    <block type="val_num2"></block>
                                    <block type="val_text1"></block>
                                    <block type="val_text2"></block>
                                </category>

                                <category name="%{BKY_VARIABLES}" custom="VARIABLE_DYNAMIC"></category>

                                <category name="%{BKY_FUNCTIONS}" custom="PROCEDURE"></category>

                                <category name="%{BKY_EMOTIONS}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'emotion' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_SPEAKER}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'speaker' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_BASE}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'base' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_MOTOR}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'motor' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_CAMERA}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'camera' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_DISTANCES}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'distances' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                                <category name="%{BKY_GROUND}">
                                    {% for block in allBlocks %}
                                        {% if block[1] == 'ground' %}
                                            <block type="{{ block[0] }}"></block>
                                        {% endif %}
                                    {% endfor %}
                                </category>

                            </div>
                        </div>

                    </div>


                </tr>
            </table>

        </tr>
    </table>



    <script>
        //Loads blocks from json definition
        loadBlocks({{control|tojson}}, {{language|tojson}});
        loadBlocks({{operators|tojson}}, null);
        loadBlocks({{values|tojson}}, null);
        loadBlocks({{variables|tojson}}, null);
        loadBlocks({{expressions|tojson}}, null);
        loadBlocks({{proprioceptive|tojson}}, null);
        loadBlocks({{motor|tojson}}, null);
        loadBlocks({{perceptual|tojson}}, null);

        //Creates tbe workspace
        var workspace = LearnBlock.inject('learnblockDiv', {
            toolbox: document.getElementById('toolbox'),
            horizontalLayout: false,
            scrollbars: true
        });

    </script>

    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
